<header>

    <div class="alias">
        <h1>{{name}}</h1>
        <h2>{{position}}</h2>
    </div>

    <div class="contact">
        {{#each contacts}}
            <span>{{this}}</span>
        {{/each}}
    </div>

</header>