<div class="job">

    <div class="row">
        <strong>{{position}}</strong>
        <strong>{{start_date}} - {{end_date}}</strong>
    </div>

    <div class="list">
        <ul>
            {{#each bullets}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
    
</div>