<div class="project">

    <div class="row">
        <strong>{{title}}</strong>
        <a href="{{repository_url}}">repositorio</a>
    </div>

    <div class="list">
        <ul>
            {{#each bullets}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
    
</div>