<div class="columns">
    <ul>
        {{#each bulletsSplit.left}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <ul>
        {{#each bulletsSplit.right}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</div>