<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>cv model</title>
        <link rel="stylesheet" href="styles/cv.css">
    </head>    
    <body>
        <div class="cv">

            <header>

                <div class="alias">
                    <h1>NAME</h1>
                    <h2>POSITION</h2>
                </div>

                <div class="contact">
                    <span>PHONE</span>
                    <span>EMAIL</span>
                    <span>LINK1</span>
                    <span>LINK2</span>
                    <span>CITY</span>
                </div>

            </header>

            <section>
                <h3>RESUMO</h3>
                <p>SUMARRY</p>
            </section>

            <section>
                <h3>FORMAÇÃO ACADÊMICA</h3>

                <div class="college">
                    <div class="row">
                        <strong>COLLEGE_NAME</strong>
                        <span>START_DATE até END_DATE</span>
                    </div>

                    <div class="columns">
                        <ul>
                            <li>BULLET_POINT</li>
                            <li>BULLET_POINT</li>
                            <li>BULLET_POINT</li>
                        </ul>
                        <ul>
                            <li>BULLET_POINT</li>
                            <li>BULLET_POINT</li>
                            <li>BULLET_POINT</li>
                        </ul>
                    </div>
                </div>

            </section>

            <section>
                <h3>EXPERIÊNCIA PROFISSIONAL</h3>

                <div class="job">

                    <div class="row">
                        <strong>POSITION</strong>
                        <span>START_DATE até END_DATE</span>
                    </div>

                    <div class="columns">
                        <ul>
                            <li>BULLET_POINT</li>
                            <li>BULLET_POINT</li>
                            <li>BULLET_POINT</li>
                        </ul>
                        <ul>
                            <li>BULLET_POINT</li>
                            <li>BULLET_POINT</li>
                            <li>BULLET_POINT</li>
                        </ul>
                    </div>
                    
                </div>
            </section>


            <section>
                <h3>HABILIDADES TÉCNICAS</h3>

                    <div class="columns">
                        <ul>
                            <li>BULLET_POINT</li>
                            <li>BULLET_POINT</li>
                            <li>BULLET_POINT</li>
                        </ul>
                        <ul>
                            <li>BULLET_POINT</li>
                            <li>BULLET_POINT</li>
                            <li>BULLET_POINT</li>
                        </ul>
                    </div>
            </section>

        </div>

    </body>
</html>